<%- include ("partials/header.ejs") %>
<body>
    <%- include ("partials/navbar.ejs") %>
    <div class="container" id="formulario-pergunta">        
        <div class="card">
            <div class="card-header">
                <h3>Realizar pergunta</h3>
            </div>

            <div class="card-body">
                <form method="POST" action="/salvarPergunta">
                    <label>Título</label>
                    <input type="text" class="form-control" placeholder="Título da pergunta" name="titulo" required>
                    <br>
        
                    <label>Descrição</label>
                    <textarea class="form-control" placeholder="Descreva sua pergunta" name="descricao" required></textarea>
                    <br>
        
                    <button class="btn btn-success">Perguntar</button>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include("partials/footer.ejs") %>
